* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 55px;
}

body {
    background: #f1f1f1;
    color: #326f0c;
}

#wrap {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#ddate {
    text-transform:uppercase;
}

#dday {
    font-size: 55%;
}

#dtime {
    font-size: 303%;
}

.hidden {
    display: none;
}

.secsize {
    font-size: 73px;
    color: gray;
    vertical-align: super;
}

table {
    font-size: 22px;
    margin: auto;
}
